.header-container {
  display: flex;
  flex-direction: column;
}

.website-logo-arrow-container {
  display: flex;
  justify-content: space-between;
}

.website-logo-container,
.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-website-logo {
  width: 100px;
  height: 30px;
}

.arrow-image {
  margin-top: 35px;
  width: 30px;
}

.nav-container {
  display: flex;
  background-color: #e6f6ff;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.list-item {
  list-style: none;
}

.nav-list-text {
  display: none;
}

.nav-image {
  width: 30px;
  margin: 10px;
}
